#title {
  /*background-color:	#FFF5EE*/

}


.container-fluid{
  padding: 3% 10%

}

h3 {
font-family:"Montserrat-Black";
font-size:3rem;
line-height:1.5;
}

p {
  color: #8f8f8f
}

.picture {
  text align: center;
}

/*banner*/




/*features section*/

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 3%;
}


.icon {

  margin-bottom: 1rem ;
}



/*testimonials*/

#testimonials {

  margin-top: 1rem;
  padding: 1% 2%;
  text-align: center;
    background-color:	#ffb3cf


}

.resize {
  width: 100px;
  height: auto;
}


.resize2 {
   width: 900px;
   height: auto;
}

/* Pricing Selection */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}



#cta {
    text-align: center;
}

#footer {
  text-align: center;
}
